<% if post.favorited_by?(current_user) %>
  <p>
    <%= link_to post_favorite_path(post), method: :delete, remote: true do %>
      ♥<%= post.favorites.count %> いいね解除
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to post_favorites_path(post), method: :post, remote: true do %>
      ♡<%= post.favorites.count %> いいね登録
    <% end %>
  </p>
<% end %>