<!--ユーザーの一覧-->
<% if users.exists? %><!--usersにデータが存在するか確認-->
  <table class="table">
    <thead>
      <tr>
        <th>画像</th>
        <th>ユーザー名</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
      <tr>
        <th><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></th>
        <th><%= link_to user.name, user_path(user) %></th>
        <th>フォロー数：<%= user.followings.count %></th>
        <th>フォロワー数：<%= user.followers.count %></th>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>