<div class="container">
  <div class="row">
    <div class="col-md-8 py-3 mx-auto">
      <h4><%= @user.name %>さんのフォロワーリスト</h4>
      <!--一覧画面を呼び出す-->
      <%= render 'relationships/index', users: @users %>
    </div>
  </div>
</div>