<% visiter = notification.visiter %>
<% post = notification.post %>

<div class="list-group-item">
  <%= attachment_image_tag visiter, :profile_image, fallback: "no_image.jpg", size: '30x30', class: "rounded-circle" %>
  <!--notifications_helper.rbを呼び出している-->
  <%== notification_form(notification) %> &emsp; <%= l notification.created_at, format: :default %>
</div>