<% visiter = notification.visiter %>
<% post = notification.post %>

<div class="list-group-item clearfix ">
  <%#= attachment_image_tag notification.visiter.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <!--notifications_helper.rbを呼び出している-->
  <%== notification_form(notification) %> &emsp; <span>(<%= notification.created_at %>)</span>
  <br>
  <% if !@comment.nil? %>
    <p class="moderate-font"><%= @comment %></p>
  <% end %>
</div>