<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto">
      <h3>通知一覧</h3>
      <%= link_to "全削除", notifications_path, method: :delete, class: "fas fa-trash" %>

      <%# notifications = @notifications.where.not(visitor_id: current_user.id) %>
      <% if @notifications.exists? %>
        <div class="list-group">
          <%= render @notifications %>
          <%= paginate @notifications %>
        </div>
      <% else %>
        <p>通知はありません</p>
      <% end %>
    </div>
  </div>
</div>