<div class="about-image">
  <div class="container">
    <div class="row">
      <div class="py-3 mx-auto text-center">
        <h1>About</h1>
        <h5 class="py-4"><strong>ROW（Record of Office Work）はデスクワークでの困り事解決手段や知識を共有するためのサイトです。</strong></h5>
        <p class="py-5"><strong>
          デスクワークでのトラブル・困り事の問題解決方法や、<br />
          自分が知り得た知識を記録し残す事が出来ます。<br />
          また、投稿を共有する事で自分の投稿が他の人に役立ったり、<br />
          他の人の投稿が自分の問題解決に役立てたり、知識を得る事が出来ます。<br />
          ぜひご活用ください。
        </strong></p>
      </div>
    </div>
  </div>
</div>