<div class="container">
  <div class="row">
    <div class="text-center">
      <h1>About</h1>
      <h5>
        ROW（RecordOfficeWork）はデスクワークでの困り事解決手段や知識を共有するためのサイトです。
      </h5>
      <p>
        デスクワークでのトラブル・困り事の問題解決方法や、自分が知り得た知識を記録し残す事が出来ます。<br />
        また、投稿を共有する事で自分の投稿が他の人に役立ったり、<br />
        他の人の投稿が自分の問題解決に役立てたり、知識を得る事が出来ます。<br />
        ぜひご活用ください。
      </p>
    </div>
  </div>
</div>