<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!--検索フォームを呼び出す-->
      <%= render 'searchs/search_form' %>
    </div>
    <div class="col-md-7 offset-md-1 mx-auto">
      <h4>新着投稿</h4>
      <ul class="list-group">
        <% @posts.each do |post| %>
          <li class="list-group-item">
            投稿者：<%= link_to post.user.name, user_path(post.user_id) %><br />
            <%= link_to post.title, post_path(post.id) %><br />
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>