<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">
      <h4>新着投稿</h4>
      <ul class="list-group">
        <% @posts.each do |post| %>
          <li class="list-group-item">
            投稿者：<%= link_to post.user.name, user_path(post.user_id) %><br />
            <%= link_to post.title, post_path(post.id) %><br />
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>