/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

body {
 display: flex;
 flex-flow: column;
 min-height: 100vh;
 font-family: 'Noto Sans JP', sans-serif;
}

main {
 flex: 1;
 background-color: #F0FFFF;
}

header {
 width: 100%;
 height: 50px;
 background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}

footer {
 width: 100%;
 height: 75px;
 background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}

#error_explanation {
 color: red;
}

#notice {
 color: green;
}

.post-shere {
 color: white;
 background-color: green;
}

.post-not-shere {
 color: white;
 background-color: red;
}

.about-image {
 background-image: image-url("about_image.jpg");
 background-position: center;
 background-size: cover;
 width: 100%;
 height: 85vh;
}

.list-group-item {
 background-color: #F0FFFF;
}

.profile_image {
 text-align : center
}
.paginate {
 display: flex;
 justify-content: center;
}